body{
    background-color: #201d1d;
}
#header{
    color: white;
}
#headerText {
    display: flex;
    justify-content: center;
    font-size: 60px;
    background-color: rgb(224, 166, 86);
    margin-top: -10px;
}
#conversionChoiceText{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: -20px;
}
#actionsContainer {
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#conversionChoices {
    display: flex;
    justify-content: center;
    color: white;
    column-gap: 10px;
    font-size: 30px;
}
button {
    display: flex;
    justify-content: center;
    font-size: 25px;
}
#temperatureTextBox{
    padding-top: 12px;
}
#weightTextBox{
    padding-top: 12px;
}
#currencyTextBox{
    padding-top: 12px;
}
#distanceTextBox{
    padding-top: 12px;
}
#temperatureInput {
    font-size: 20px;
}
input[type=text] {
    margin-top: 18px;
    font-size: 25px;
}
#return {
    display: flex;
    font-size: 15px;
    justify-content: center;
    color: white
}
#unitChoices{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-left: -290px;
    text-align: center;
}
input[type='radio'] { 
    transform: scale(1.6); 
}
#returnValue {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: white;
    margin-left: 300px;
    text-align: center;
}
#returnPrompt{
    display: flex;
    justify-content: center;
}
#returnPrompt{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}
#kelvinButtons {
    padding-right: 40px;
}